In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
from twython import Twython

# Load credentials from json file
with open("twitter_credentials.json", "r") as file:  
    creds = json.load(file)
    
# Instantiate an object
python_tweets = Twython(creds['CONSUMER_KEY'], creds['CONSUMER_SECRET'])


# Create our query
query = {'q': 'Berlin',  
        'count': 30,
        }

# Search tweets
dict_ = {'user': [],'friends_count':[], 'date': [], 'text': [], 'favorite_count': [],
         'retweet_count':[],"retweeted":[],"user_loc": [],"lang": [],}

try:
    for status in python_tweets.search(**query)['statuses']:  
        dict_['user'].append(status['user']['screen_name'])
        dict_['user_loc'].append(status['user']['location'])
        dict_['friends_count'].append(status['user']['friends_count'])
        dict_['date'].append(status['created_at'])
        dict_['text'].append(status['text'])
        dict_['favorite_count'].append(status['favorite_count'])
        dict_['retweet_count'].append(status['retweet_count'])
        dict_['retweeted'].append(status['retweeted'])
        dict_['lang'].append(status['lang'])
    # Structure data in a pandas DataFrame for easier manipulation
    df = pd.DataFrame(dict_)  
    df.sort_values(by='favorite_count', inplace=True, ascending=False)  
except TwythonError as e:
    print(e)

In [3]:
df.head(20)

,date,favorite_count,friends_count,lang,retweet_count,retweeted,text,user,user_loc
0,Thu Jun 14 17:16:56 +0000 2018,0,6585,de,9,False,RT @orbisclaudiae: BERLINER! Freunde von mir s...,Mailwurm666,D. NRW
1,Thu Jun 14 17:16:54 +0000 2018,0,136,sl,1,False,RT @Miran7777: HAHAHAHA !\n\nDOČAKALI SMO TA D...,IvankaKoprivc,
28,Thu Jun 14 17:16:26 +0000 2018,0,115,es,15,False,RT @GuajeSalvaje: El sentido del humor de TV3....,Isabel17109898,
27,Thu Jun 14 17:16:29 +0000 2018,0,483,en,478,False,RT @YouTH_1117: [4K] 180608 ‘EYES ON YOU’ BERL...,Nae_Nie,"Bangkok, Thailand"
26,Thu Jun 14 17:16:30 +0000 2018,0,5002,en,28,False,RT @GermanyDiplo: FM @HeikoMaas congratulates ...,jk55044,
25,Thu Jun 14 17:16:33 +0000 2018,0,1056,und,1,False,RT @OliverKulikBln: #Katharina #EsReicht\n\nht...,CroqiSunshine,Bunde/Ostfriesland
24,Thu Jun 14 17:16:33 +0000 2018,0,1574,en,0,False,We are so glad to attend such an inspiring con...,suleyucebiyik,istanbul
23,Thu Jun 14 17:16:34 +0000 2018,0,378,es,75,False,RT @LogiaBilardista: Desde el Ejército Rojo en...,LeanFernandez7,
22,Thu Jun 14 17:16:34 +0000 2018,0,480,en,0,False,@airfrance I need my additional luggage to be ...,LadyFeroz,Hong Kong
21,Thu Jun 14 17:16:35 +0000 2018,0,3549,en,478,False,RT @YouTH_1117: [4K] 180608 ‘EYES ON YOU’ BERL...,otter_youngjae7,"5/5+ronnie, james+luke faved"
20,Thu Jun 14 17:16:35 +0000 2018,0,621,fr,283,False,RT @FCOUILBAULT1: Un axe Rome Vienne Berlin so...,mxd31,
19,Thu Jun 14 17:16:36 +0000 2018,0,372,en,0,False,@ConStelz @AlexLuck9 @Breitbart What a coincid...,AlbKol,
18,Thu Jun 14 17:16:36 +0000 2018,0,52,es,482,False,"RT @MistralS: Anda, como en el 39 : Los minist...",fern_florez,
17,Thu Jun 14 17:16:37 +0000 2018,0,257,en,41918,False,RT @GOT7Official: [ #GOT7NOW ] See you tomorro...,cyamzjtwya,
16,Thu Jun 14 17:16:39 +0000 2018,0,781,en,478,False,RT @YouTH_1117: [4K] 180608 ‘EYES ON YOU’ BERL...,blxwee,ในใจคยอมดูง
15,Thu Jun 14 17:16:39 +0000 2018,0,1138,de,0,False,Dit is Berlin #servicetweet (...und das ist nu...,JeanneKinderman,"Düsseldorf, Deutschland"
14,Thu Jun 14 17:16:40 +0000 2018,0,534,ja,0,False,@Berlin_130loly おらかえよおらおら,chaosR1081,chaos(カオス)
13,Thu Jun 14 17:16:42 +0000 2018,0,15038,de,15,False,RT @JFDA_eV: #Antisemitismus auf Plakaten und ...,yoga_and_more,
12,Thu Jun 14 17:16:43 +0000 2018,0,669,en,0,False,My interview in the Kurt Weill newsletter - o...,GenePritsker,USA
11,Thu Jun 14 17:16:44 +0000 2018,0,310,in,0,False,"Berlin, Berlin.",Herzdame,"Hamburg, Germany"