In [1]:
import numpy as np
import csv
import pandas_datareader as pdr
import datetime

/home/javier/anaconda3/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/javier/anaconda3/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [38]:
aapl = pdr.get_data_quandl('TSLA', 
                          start=datetime.datetime(2015, 8, 1), 
                          end=datetime.datetime(2015, 8, 30))

In [39]:
aapl

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2015-08-28,241.86,251.4500,241.5700,248.48,5513673.0,0.0,1.0,241.86,251.4500,241.5700,248.48,5513673.0
2015-08-27,231.00,244.7500,230.8100,242.99,7655959.0,0.0,1.0,231.00,244.7500,230.8100,242.99,7655959.0
2015-08-26,227.93,228.0000,215.5100,224.84,4963042.0,0.0,1.0,227.93,228.0000,215.5100,224.84,4963042.0
2015-08-25,230.52,230.9000,219.1200,220.03,4327294.0,0.0,1.0,230.52,230.9000,219.1200,220.03,4327294.0
2015-08-24,202.79,231.4000,195.0000,218.87,9581585.0,0.0,1.0,202.79,231.4000,195.0000,218.87,9581585.0
2015-08-21,236.00,243.7999,230.5100,230.77,6590234.0,0.0,1.0,236.00,243.7999,230.5100,230.77,6590234.0
2015-08-20,252.06,254.5600,241.9000,242.18,4905757.0,0.0,1.0,252.06,254.5600,241.9000,242.18,4905757.0
2015-08-19,260.33,260.6500,255.0200,255.25,3604282.0,0.0,1.0,260.33,260.6500,255.0200,255.25,3604282.0
2015-08-18,255.38,260.9500,253.5601,260.72,4195035.0,0.0,1.0,255.38,260.9500,253.5601,260.72,4195035.0
2015-08-17,255.56,256.5900,250.5100,254.99,7176690.0,0.0,1.0,255.56,256.5900,250.5100,254.99,7176690.0
2015-08-14,247.24,247.9300,241.7700,243.15,4364810.0,0.0,1.0,247.24,247.9300,241.7700,243.15,4364810.0
2015-08-13,239.86,246.4800,239.1200,242.51,4689182.0,0.0,1.0,239.86,246.4800,239.1200,242.51,4689182.0
2015-08-12,235.00,239.7700,232.7400,238.17,3739157.0,0.0,1.0,235.00,239.7700,232.7400,238.17,3739157.0
2015-08-11,237.15,239.3000,234.4400,237.37,4264939.0,0.0,1.0,237.15,239.3000,234.4400,237.37,4264939.0
2015-08-10,238.15,242.9700,236.0500,241.14,4185860.0,0.0,1.0,238.15,242.9700,236.0500,241.14,4185860.0
2015-08-07,243.58,243.7300,238.3900,242.51,5073390.0,0.0,1.0,243.58,243.7300,238.3900,242.51,5073390.0
2015-08-06,249.54,255.0000,236.1200,246.13,14623754.0,0.0,1.0,249.54,255.0000,236.1200,246.13,14623754.0
2015-08-05,263.58,271.0000,260.4000,270.13,4798058.0,0.0,1.0,263.58,271.0000,260.4000,270.13,4798058.0
2015-08-04,260.01,266.7200,258.3400,266.28,2352530.0,0.0,1.0,260.01,266.7200,258.3400,266.28,2352530.0
2015-08-03,266.29,266.7099,257.0700,259.99,2553474.0,0.0,1.0,266.29,266.7099,257.0700,259.99,2553474.0

In [40]:
pandas_datareader.quandl.QuandlReader('TSLA',, start=None, end=None, retry_count=3, pause=0.1, session=None, chunksize=25, api_key=None)

NameError: name 'plt' is not defined